.header-top {
    background: #333;
	 padding: .7em 0;
 }
.header{
	margin: 5px;
}
.top-left{
	width: 240px;
	/*margin: 5px 455px ;*/
	text-align: center;
	margin: auto;
}
.youname {
	border: 4px solid #ffb700;
	color: white;
	text-align: center;
}
.top-bot{
	text-align: center;
	color: white;
	font-size: 15px;
	margin-top: 10px;
}
.top-tit{
	color: white;
	font-size: 15px;
	margin: 10px 30px;
	flex-wrap: wrap;
	display: flex;
}
.gold{
	margin-top: 15px;
	font-size: 25px;
	border-bottom: 2px solid #ffb700;
	color: #ffb700;
}
.gold span{
	width: 200px;
}
.bybody{
	margin: 5px;
	display: flex;
}
.body1{
	width: 200px;

}
.body2{
	width: 400px;
}
.dam{
	font-weight: bold;
	color: #333;
	font-size: 17px;
	margin: 7px 0px;
}
.body3{
	display: flex;
	font-size: 26px;
}
.bethong{
	text-align: center;
	margin: 5px 25px;
}
.glyphicon{
    color: orange;
}
.xam{
	color: #EEEEEE;
}

a:hover, a:focus{    
		outline: none;    
		text-decoration:none;
		}
		 
		#accordion .panel{    
		border-radius:0;    
		margin-bottom:15px;
		}
		 
		#accordion .panel-heading{    
		padding:0;
		}
		 
		#accordion .panel-title{    
		position: relative;
		border-bottom: 2px solid #ffb700; 
		}
		 
		#accordion .panel-title:before{    
		content: "";    
		border-bottom: 25px solid rgba(0, 0, 0, 0);    
		width: 0;    
		height: 0;    
		position: absolute;    
		top: 0;    
		left: 34px;
		}
		 
		#accordion .panel-title a{ 
		color: #ffb700;   
		background:#fff;    
		display: block;    
		font-size: 16px;    
		line-height: 21px;    
		font-weight:bold;    
		text-transform: uppercase;    
		padding: 13px 10px 13px 65px;
		}
		 
		#accordion .panel-title a.collapsed{    
		color: #ffb700;;    
		background:#fff;
		}
		 
		#accordion .panel-title a:before,#accordion .panel-title a.collapsed:before{    
		content: "";    
		font-family: 'FontAwesome';    
		position: absolute;    
		top:0;    
		left:0px;    
		padding:14px 10px;     
		}
		#accordion .panel-title a.collapsed:before{    
		content: "";
		}
		 
		#accordion .panel-body{    
		color: #828282;    
		font-size: 16px;    
		line-height: 18px;
		}